<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Verb &mdash; Free Website Template, Free HTML5 Template by GetTemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Roboto+Mono" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{*template_assets*}css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{*template_assets*}css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{*template_assets*}css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{*template_assets*}css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{*template_assets*}css/style.css">

	<!-- Modernizr JS -->
	<script src="{*template_assets*}js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="<?= $template_assets ?>js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>