<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({*template_assets*}images/img_1.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-7 text-left">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeInUp">
						<span class="date-post">4 days ago</span>
						<h1 class="mb30"><a href="#">How Web Hosting Can Impact Page Load Speed</a></h1>
						<p><a href="#" class="text-link">Read More</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>