<nav class="gtco-nav" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 text-left">
				<div id="gtco-logo"><a href="/">Verb<span>.</span></a></div>
			</div>
			<div class="col-xs-10 text-right menu-1">
				<ul>
					<li class="has-dropdown">
						<a href="category.html">Development</a>
						<ul class="dropdown">
							<li><a href="#">Python</a></li>
							<li><a href="#">Javascript</a></li>
							<li><a href="#">HTML5/CSS3</a></li>
							<li><a href="#">Django</a></li>
						</ul>
					</li>

					<li><a href="category.html">Business</a></li>
					<li><a href="category.html">Travel</a></li>
					<li><a href="category.html">Design</a></li>
					<li><a href="category.html">Culture</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>